<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />
  <title>Edit Address</title>
  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Start Header/Navigation -->
  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Homey<span>.</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li><a class="nav-link" href="/shop">All</a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <li><a class="nav-link" href="/cart"><img src="images/cart.svg"></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Header/Navigation -->

  <div class="container mt-5">
    <h2>Edit Address</h2>
    <form action="/edit-address/<%= address._id %>" method="POST">
      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <input type="text" placeholder="Name" name="name" class="form-control" value="<%= address.name %>" required>
        </div>
        <div class="form-group col-md-6 mb-3">
          <input type="text" placeholder="City" name="city" class="form-control" value="<%= address.city %>" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <input type="text" placeholder="Landmark" name="landMark" class="form-control" value="<%= address.landMark %>" required>
        </div>
        <div class="form-group col-md-6 mb-3">
          <input type="text" placeholder="State" name="state" class="form-control" value="<%= address.state %>" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <input type="text" placeholder="Pincode" name="pincode" class="form-control" value="<%= address.pincode %>" required>
        </div>
        <div class="form-group col-md-6 mb-3">
          <input type="text" placeholder="Phone" name="phone" class="form-control" value="<%= address.phone %>" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
  </div>

  <!-- Start Footer Section -->
  <%- include("../../views/partials/user/footer") %>
  <!-- End Footer Section -->

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>
